body {
  margin-top: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.nav-bar {
  justify-content: flex-end;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
}

.color-text_navbar {
  color: #0a66c2;
}

.color-text_navbar:hover {
  background: radial-gradient(rgba(199, 160, 129, 0.3), transparent);
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: auto;
  overflow: hidden;
}

li a {
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

.main_container {
display: flex;;
height: 100vh;
flex-direction: column;
align-items: center;
justify-content: center;
}

.text_soon {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 36px;
}

.img_lottie {
  display: flex;
}
